ipykernel==6.23.1
numpy==1.24.3
tokenizers==0.14.0
torch==2.1.0
tqdm==4.65.0
transformers>=4.34.0
peft==0.3.0
datasets==2.14.5
beautifulsoup4==4.12.2
wandb==0.15.3
hydra-core==1.3.2
tensor-parallel==1.2.4
fastapi==0.115.6
uvicorn==0.34.0
firebase-admin==6.6.0